<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width-device-width, initial-scale-1">
        <title>Form</title>
        <link rel = " stylesheet" href="{{ url_for('static', filename='form.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='Form.js') }}"></script>
    </head>
    <body>
        <header>
            Which subject(s) do you want to order?
        </header>
        <main>
            <form action = "{{ url_for('form') }}" method = "post"> 
             <div>
                <label for="AP_Biology"> AP Biology Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Add Packet" data-dropdown="dropdownQuestions-1">
                <div id="dropdownQuestions-1" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License1" name="li1" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name1" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email1" required>
                </div> 
                <br>
                <label for="ap_CalcA"> AP Calculus AB Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-2">
                <div id="dropdownQuestions-2" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License2" name="li2" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name2" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email2" required>
                </div> 
                <br>
                <label for="ap_CalcB"> AP Calculus BC Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-3">
                <div id="dropdownQuestions-3" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License3" name="li3" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name3" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email3" required>
                </div> 
                <br>
                <label for="ap_Chem"> AP Chemistry Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-4">
                <div id="dropdownQuestions-4" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License4" name="li4" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name4" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email4" required>
                </div> 
                <br>
                <label for="ap_EngLang"> AP English Language and Composition Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-5">
                <div id="dropdownQuestions-5" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License5" name="li5" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name5" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email5" required>
                </div> 
                <br>
                <label for="ap_EnviSci"> AP Environmental Science Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-6">
                <div id="dropdownQuestions-6" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License6" name="li6" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name6" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email6" required>
                </div> 
                <br>
                <label for="ap_EuroHis"> AP European History Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-7">
                <div id="dropdownQuestions-7" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License7" name="li7" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name7" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email7" required>
                </div> 
                <br>
                <label for="ap_HumGeo"> AP Human Geography Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-8">
                <div id="dropdownQuestions-8" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License8" name="li8" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name8" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email8" required>
                </div> 
                <br>
                <label for="ap_MacroEcon">AP Macroeconomics Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-9">
                <div id="dropdownQuestions-9" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License9" name="li9" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name9" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email9" required>
                </div> 
                <br>
                <label for="ap_MicroEcon"> AP Microeconomics Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-10">
                <div id="dropdownQuestions-10" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License10" name="li10" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name10" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email10" required>
                </div> 
                <br>
                <label for="ap_Phys"> AP Physics 1 Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-11">
                <div id="dropdownQuestions-11" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License11" name="li11" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name11" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email11" required>
                </div> 
                <br>
                <label for="ap_Psych"> AP Psychology Ultimate Review Packet</label>
                <input type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-12">
                <div id="dropdownQuestions-12" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License12" name="li12" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name12" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email12" required>
                </div> 
                <br>
                <label for="ap_Stats"> AP Statistics Ultimate Review Packet</label>
                <input id="btn" type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-13">
                <div id="dropdownQuestions-13" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License13" name="li13" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name13" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email13" required>
                </div> 
                <br>
                <label for="ap_USGP"> AP US Government and Politics Ultimate Review Packet</label>
                <input id="btn" type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-14">
                <div id="dropdownQuestions-14" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License14" name="li14" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name14" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email14" required>
                </div> 
                <br>
                <label for="ap_USHis"> AP US History Ultimate Review Packet</label>
                <input id="btn" type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-15">
                <div id="dropdownQuestions-15" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License15" name="li15" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name15" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email15" required>
                </div> 
                <br>
                <label for="ap_WorldHis"> AP World History Ultimate Review Packet</label>
                <input id="btn" type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-16">
                <div id="dropdownQuestions-16" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License16" name="li16" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name16" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email16" required>
                </div> 
                <br>
                <label for="teach_WorkSheets"> Teacher Worksheets ONLY</label>
                <input id="btn" type="button" onclick="showDropDownQuestions(event)" value="Show Dropdown" data-dropdown="dropdownQuestions-17">
                <div id="dropdownQuestions-17" style="display: none;">
                    <label for="question1">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount. How many total licenses do you need for this subject?</label>
                    <input type="number" id="tot_License17" name="li17" min="0" required>
                    <br>
                    <label for="question2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                    <input type="text" id="full_name17" required>
                    <br>
                    <label for="question3">What is the school email of the teacher that will be using these resources?</label>
                    <input type="text" id="school_email17" required>
                </div> 
            </div>
            <p>
                <button type = "submit"> Submit</button>
             </p>
        </form>
        </main>
    </body>
</html>