<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="/static/ultimatereviewimage.png"/>
        <meta property="og:title" content="Are you a teacher or school admin?" />
        <meta property="og:description" content="Are you a teacher? Order Ultimate Review Packets for your students to help them prepare for the 2024 AP Exams!" />
        <title>Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Form.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <img id="header-image" src="{{ url_for('static', filename='ultimatereviewimage.svg') }}"/>
        </header>
        <main>
            <form action="{{ url_for('form') }}" method="post" id="multi-page-form" onsubmit="return validateForm()" enctype="multipart/form-data"> 
                <div id="page-1">
                    <fieldset class="fieldset-1">
                        <legend>Please provide your contact</legend>
                        {% if error %}
                        <p class="error">{{ error }}</p>
                        {% endif %} 
                        <div id="formQuestions">
                            <label for="question0">Email</label>
                            <input type="email" id="formemail" name="formemail" placeholder="username@domain.com" required>
                            <br><br>
                            <label for="questiona">Full Name</label>
                            <input type="text" id="formname" name="formname" required>
                            <br><br>
                            <label for="questionb">What is the name of your school?</label>
                            <input type="text" id="formschool" name="formschool" required>
                            <br><br>
                            <label for="question0">Bulk Discounts are only available to teachers/schools</label>
                            <label>
                                <input type="radio" name="bulk" value="I am a teacher or school employee and I want to place an order or receive a quote">
                                I am a teacher or school employee and I want to place an order or receive a quote
                            </label>
                            <label>
                                <input type="radio" name="bulk" value="I am a teacher or school employee and I want to request a free teacher trial">
                                I am a teacher or school employee and I want to request a free teacher trial
                            </label>
                            <label>
                                <input type="radio" name="bulk" value="I am a student or parent">
                                I am a student or parent
                            </label>
                            <br><br>
                        </div>
                        <div class="submit-button-container">
                            <button type="button" onclick="checkBulk()">Next</button>
                        </div>
                        <div id="bulkResults" style="display: none;"></div>
                    </fieldset>
                </div>
                <div id="page-2" style="display: none;">
                    <div class="container">
                        <label for="payment">How do you plan to pay?</label>
                        <label>
                            <input type="radio" name="payment" value="Email me an invoice so I can pay online">
                            Email me an invoice so I can pay online
                        </label>
                        <label>
                            <input type="radio" name="payment" value="Email me an invoice so I can send a check in the mail">
                            Email me an invoice so I can send a check in the mail
                        </label>
                        <label>
                            <input type="radio" name="payment" value="I want to submit a purchase order or send a check and get a quote">
                            I want to submit a purchase order or send a check and get a quote.
                        </label>
                        <div id="purchaseOrderInput" style="display: none;">
                            <label for="purchaseOrderFile">Upload Purchase Order (PDF or DOCX):</label>
                            <input type="file" id="purchaseOrderFile" name="purchaseOrderFile" accept=".pdf, .docx">
                        </div>
                        <label>
                            <input type="radio" name="payment" value="I would like an official quote before I submit a purchase order">
                            I would like an official quote before I submit a purchase order
                        </label>
                        <br><br>
                        <h1 class="disclaimer">The Ultimate Review Packet is sold with a per-student license for one school year. You must order at least 10 to get the bulk discount.</h1>
                        <br><br>
                        <div class="select-box">
                            <div class="selected-items" onclick="toggleOptions()">
                                <div class="placeholder">Select options</div>
                                <span class="arrow">&#9662;</span>
                            </div>
                            <div class="options">
                                <input type="checkbox" id="option1" value="AP Biology Ultimate Review Packet">
                                <label for="option1">AP Biology Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option2" value="AP Calculus AB Ultimate Review Packet">
                                <label for="option2">AP Calculus AB Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option3" value="AP Calculus BC Ultimate Review Packet">
                                <label for="option3">AP Calculus BC Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option4" value="AP Chemistry Ultimate Review Packet">
                                <label for="option4">AP Chemistry Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option5" value="AP English Language and Composition Ultimate Review Packet">
                                <label for="option5">AP English Language and Composition Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option6" value="AP Environmental Science Ultimate Review Packet">
                                <label for="option6">AP Environmental Science Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option7" value="AP European History Ultimate Review Packet">
                                <label for="option7">AP European History Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option8" value="AP Human Geography Ultimate Review Packet">
                                <label for="option8">AP Human Geography Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option9" value="AP Macroeconomics Ultimate Review Packet">
                                <label for="option9">AP Macroeconomics Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option10" value="AP Microeconomics Ultimate Review Packet">
                                <label for="option10">AP Microeconomics Ultimate Review Packet</label>
                                <br>
                                <input type="checkbox" id="option11" value="AP Physics 1 Ultimate Review Packet">
                                <label for="option11">AP Physics 1 Ultimate Review Packet</label>
                                <br>
                            </div>
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                var options = document.querySelectorAll('.select-box .options input[type="checkbox"]');
                                var selectBox = document.querySelector('.select-box');
                                var selectedItems = document.querySelector('.select-box .selected-items');

                                options.forEach(function (option) {
                                    option.addEventListener('change', function () {
                                        updateSelectedItems();
                                        toggleQuestions(option);
                                    });
                                });

                                selectedItems.addEventListener('click', function (event) {
                                    event.stopPropagation(); // Prevents the click from being detected by the document
                                });

                                selectBox.addEventListener('click', function (event) {
                                    event.stopPropagation(); // Prevents the click from being detected by the document
                                });

                                // Close the dropdown if clicked outside
                                document.addEventListener('click', function () {
                                    var options = document.querySelector('.select-box .options');
                                    options.style.display = 'none';
                                });
                            });

                            function toggleQuestions(option) {
                                var questions = document.getElementById(option.value + ' Question');
                                if (questions) {
                                    if (option.checked) {
                                        questions.classList.remove('hidden');
                                    } else {
                                        questions.classList.add('hidden');
                                    }
                                }
                            }

                            function toggleOptions() {
                                var options = document.querySelector('.select-box .options');
                                if (options.style.display === 'none' || options.style.display === '') {
                                    options.style.display = 'block';
                                } else {
                                    options.style.display = 'none';
                                }
                            }

                            function updateSelectedItems() {
                                var selectedItemsDiv = document.querySelector('.select-box .selected-items');
                                var options = document.querySelectorAll('.select-box .options input[type="checkbox"]');
                                var selectedOptions = Array.from(options).filter(option => option.checked);
                                selectedItemsDiv.innerHTML = selectedOptions.length ? '' : '<div class="placeholder">Select options</div>';
                                selectedOptions.forEach(function (option) {
                                    var item = document.createElement('div');
                                    item.classList.add('selected-item');
                                    item.innerHTML = '<span>' + option.value + '</span><div class="deselect">x</div>';
                                    item.querySelector('.deselect').addEventListener('click', function (e) {
                                        e.stopPropagation();
                                        option.checked = false;
                                        updateSelectedItems();
                                        toggleQuestions(option);  // Add this line
                                    });
                                    selectedItemsDiv.appendChild(item);
                                });
                            }
                        </script>
                        <div id="AP Biology Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APBio1">Unfortunately, the AP Biology Ultimate Review Packet isn't available right now. Are you interested in being notified when it becomes available?</label>
                            <input type="radio" id="APBio1" name="APBio1"><br>
                        </div>
                        <div id="AP Calculus AB Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APCalcAB1">How many total licenses do you need for AP Calculus AB?</label>
                            <input type="text" id="APCalcAB1" name="APCalcAB1"><br>
                            <label for="APCalcAB2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APCalcAB2" name="APCalcAB2"><br>
                            <label for="APCalcAB3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APCalcAB3" name="APCalcAB3"><br><br>
                        </div>
                        <div id="AP Calculus BC Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APCalcBC1">How many total licenses do you need for AP Calculus BC?</label>
                            <input type="text" id="APCalcBC1" name="APCalcBC1"><br>
                            <label for="APCalcBC2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APCalcBC2" name="APCalcBC2"><br>
                            <label for="APCalcBC3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APCalcBC3" name="APCalcBC3"><br><br>
                        </div>
                        
                        <div id="AP Chemistry Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APChem1">How many total licenses do you need for AP Chemistry?</label>
                            <input type="text" id="APChem1" name="APChem1"><br>
                            <label for="APChem2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APChem2" name="APChem2"><br>
                            <label for="APChem3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APChem3" name="APChem3"><br><br>
                        </div>
                        
                        <div id="AP English Language and Composition Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APLangComp1">How many total licenses do you need for AP English Language and Composition?</label>
                            <input type="text" id="APLangComp1" name="APLangComp1"><br>
                            <label for="APLangComp2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APLangComp2" name="APLangComp2"><br>
                            <label for="APLangComp3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APLangComp3" name="APLangComp3"><br><br>
                        </div>
                        
                        <div id="AP Environmental Science Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APEnvSci1">How many total licenses do you need for AP Environmental Science?</label>
                            <input type="text" id="APEnvSci1" name="APEnvSci1"><br>
                            <label for="APEnvSci2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APEnvSci2" name="APEnvSci2"><br>
                            <label for="APEnvSci3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APEnvSci3" name="APEnvSci3"><br><br>
                        </div>
                        
                        <div id="AP European History Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APEuroHist1">How many total licenses do you need for AP European History?</label>
                            <input type="text" id="APEuroHist1" name="APEuroHist1"><br>
                            <label for="APEuroHist2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APEuroHist2" name="APEuroHist2"><br>
                            <label for="APEuroHist3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APEuroHist3" name="APEuroHist3"><br><br>
                        </div>
                        
                        <div id="AP Human Geography Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APHumGeo1">How many total licenses do you need for AP Human Geography?</label>
                            <input type="text" id="APHumGeo1" name="APHumGeo1"><br>
                            <label for="APHumGeo2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APHumGeo2" name="APHumGeo2"><br>
                            <label for="APHumGeo3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APHumGeo3" name="APHumGeo3"><br><br>
                        </div>
                        <div id="AP Macroeconomics Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APMacro1">How many total licenses do you need for AP Macroeconomics?</label>
                            <input type="text" id="APMacro1" name="APMacro1"><br>
                            <label for="APMacro2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APMacro2" name="APMacro2"><br>
                            <label for="APMacro3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APMacro3" name="APMacro3"><br><br>
                        </div>
                        
                        <div id="AP Microeconomics Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APMicro1">How many total licenses do you need for AP Microeconomics?</label>
                            <input type="text" id="APMicro1" name="APMicro1"><br>
                            <label for="APMicro2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APMicro2" name="APMicro2"><br>
                            <label for="APMicro3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APMicro3" name="APMicro3"><br><br>
                        </div>
                        
                        <div id="AP Physics 1 Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APPhy1">Unfortunately, the AP Physics 1 Ultimate Review Packet isn't available right now. Are you interested in being notified when it becomes available?</label>
                            <input type="radio" id="APPhy1" name="APPhy1"><br>
                        </div>
                        
                        <div id="AP Psychology Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APPsych1">How many total licenses do you need for AP Psychology?</label>
                            <input type="text" id="APPsych1" name="APPsych1"><br>
                            <label for="APPsych2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APPsych2" name="APPsych2"><br>
                            <label for="APPsych3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APPsych3" name="APPsych3"><br><br>
                        </div>
                        
                        <div id="AP Statistics Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APStats">Unfortunately, the AP Statistics Ultimate Review Packet isn't available right now. Are you interested in being notified when it becomes available?</label>
                            <input type="radio" id="APStats" name="APStats"><br>
                        </div>
                        
                        <div id="AP US Government and Politics Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APGovPol1">How many total licenses do you need for AP US Government and Politics?</label>
                            <input type="text" id="APGovPol1" name="APGovPol1"><br>
                            <label for="APGovPol2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APGovPol2" name="APGovPol2"><br>
                            <label for="APGovPol3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APGovPol3" name="APGovPol3"><br><br>
                        </div>
                        
                        <div id="AP US History Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APUSH1">How many total licenses do you need for AP US History?</label>
                            <input type="text" id="APUSH1" name="APUSH1"><br>
                            <label for="APUSH2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APUSH2" name="APUSH2"><br>
                            <label for="APUSH3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APUSH3" name="APUSH3"><br><br>
                        </div>
                        
                        <div id="AP World History Ultimate Review Packet Question" class="hidden questions">
                            <hr>
                            <br><br>
                            <label for="APWorldHist1">How many total licenses do you need for AP World History?</label>
                            <input type="text" id="APWorldHist1" name="APWorldHist1"><br>
                            <label for="APWorldHist2">What is the name of the teacher who will be using these resources? [Full Name Please]</label>
                            <input type="text" id="APWorldHist2" name="APWorldHist2"><br>
                            <label for="APWorldHist3">What is the school email of the teacher that will be using these resources?</label>
                            <input type="text" id="APWorldHist3" name="APWorldHist3"><br><br>
                        </div>                       
                        <br>
                        <br>
                        <div class="submit-button-container">
                            <input class="btn" type="submit" value="Submit" id = 'submitButton'>
                        </div>
                    </div>
                </div>
            </form>
        </main>
        <script src="{{ url_for('static', filename='Form.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var paymentOptions = document.querySelectorAll('input[name="payment"]');
                var purchaseOrderInput = document.getElementById('purchaseOrderInput');

                paymentOptions.forEach(function(option) {
                    option.addEventListener('change', function() {
                        if (this.value === 'I want to submit a purchase order or send a check or receive a quote') {
                            purchaseOrderInput.style.display = 'block';
                        } else {
                            purchaseOrderInput.style.display = 'none';
                        }
                    });
                });
            });
        </script>
    </body>
</html>
