<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width-device-width, initial-scale-1">
        <meta property="og:image" content="{{ url_for('static', filename='ultimatereviewimage.png') }}" />
        <meta property="og:title" content="Order Form Instructions Page " />
        <meta property="og:description" content="Are you a teacher? Order Ultimate Review Packets for your students to help them prepare for the 2024 AP Exams!" />
        <title>Form</title>
        <link rel = " stylesheet" href="{{ url_for('static', filename='Form.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <img id="header-image" src="{{ url_for('static', filename='ultimatereviewimage.svg') }}"/>
        </header>
<body>
    <div class="container">
        <div class="success-message">
            <h1>Thanks so much for completing your Ultimate Review Packet form!</h1>
            <p>You should recieve an email with your quote or invoice. If you got a quote, and would like to subseqently recieve an invoice, please accept the quote and wait 24-48 hours for our team to review!</p>
        </div>
    </div>
</body>
</html>
